h1.texto1 {
    font-size: 50px;
    font-family: cursive, sans-serif;
    text-align: center;
    color: purple;
    text-shadow: 3px 3px 2px #000;
}

h2.texto2 {
    font-size: 45px;
    font-family: cursive, fira code, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #000;
}